.navbar ul{
    display: flex;
    justify-content: center;
    margin: 15px;
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: transform .2s;

}

.navbar a:hover {
    transform: scale(1.2);
}