.profile_card {
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  height: 500px;
  transition: all 0.3s;
  overflow: hidden;
}

.info {
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.image {
  width: 100%;
  height: 45%;
  border-radius: 25px 25px 0px 0px;
  transition: transform 0.5s;
  object-fit: cover;
  object-position: top;
  margin-bottom: 2rem;
}

.profile_card:hover .image {
  transform: scale(1.1);
}

.profile_card:hover {
  transform: translateY(-8px);
}

.description {
  margin-bottom: 1rem;
}

.details-btn, .close-btn {
  background-color: rgb(59, 101, 207);
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  font-family: "Source Sans 3", sans-serif;

}

.details-btn:hover, .close-btn:hover {
  background-color: rgb(196, 145, 63);
}
