p,
h1,
h2,
h3 {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;

}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.show-btn {
  width: 150px;
  height: 75px;
  margin-bottom: 2.5rem;
  font-family: "Source Sans 3", sans-serif;
  background-color: rgb(59, 101, 207) ;
  border-radius: 10px;
  border: none ;
  color: white;
}

.show-btn:hover {
  background-color: rgb(196, 145, 63);
}

.details-card {
  width: 900px;
  height: 700px;
  position: relative;
  background-color: white;
}

.details-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.details-img {
  width: 100%;
  height: 50%;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;

}

.details-card-info {
  padding: 24px;
}
/* Search */
.search-input {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;

}
.search-btn {
  font-family: "Source Sans 3", sans-serif;
  background-color: rgb(59, 101, 207) ;
  border: none ;
  color: white;
}

.search-btn:hover {
  background-color: rgb(196, 145, 63) ;
}

/* Fonts */
.source-sans-3 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
      width: max-content;
    display: flex;
    align-items: center;
}